<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>掉落</title>
    <link rel="stylesheet" type="text/css" href="./drop.css">
    <script type="text/javascript" src="lib.js"></script>
    <style id="id_style_eventFilter">#MainContent .section:not(.notEvent):not(.event1021){ display: none; }</style>
</head>

<body class="">
    <div id="Templates_section" class="templates-div">
        <div class="section {{questType}} {{today}} {{eventId}}" id="s{{sectionId}}">
            <div class="sel-section" onclick="onclick_selectSection(this)" data-id="{{sectionId}}">
                <span class="questType {{questType}}">{{questTypeStr}}</span>
                <span class="sectionId">{{sectionId}}</span>
                <span class="section-charaName">{{charaName}}</span>
                <span class="section-miniTitle {{miniTitle-hide}}">[<span>{{miniTitle}}</span>]</span>
                <span class="section-title">{{title}}</span>
            </div>
            <div class="id_content"></div>
        </div>
    </div>
    <div id="Templates_questBattleLayer" class="templates-div">
        <div class="questBattleLayerType {{questBattleTypeCss}}">
            <div class="questBattleType {{questBattleTypeCss}}">{{questBattleType}}</div>
            <div class="id_content"></div>
        </div>
    </div>
    <div id="Templates_questBattle" class="templates-div">
        <div class="questBattle" id="qb{{questBattleId}}">
            <div class="questBattle-header">
                <div class="questBattle-txt" onclick="onclick_hideQuestBattle(this)" data-id="{{questBattleId}}">
                    <span class="questBattleTitleSub">{{sectionIndex}}</span>
                    <span class="questBattleTitle">{{title}}</span>
                    <span class="questBattleId">{{questBattleId}}</span>
                    <span>AP:</span><span class="ap">{{ap}}</span>
                    <div class="questBattle-txtData">
                        <span>EXP:</span><span class="ap">{{exp}}</span>
                        <span class="expapext" title="EXP/AP">(<span class="expap">{{expap}}</span>)</span>
                        <span>角色经验:</span><span class="ap">{{cardExp}}</span>
                        <span>短篇经验:</span><span class="ap">{{baseBondsPt}}</span>
                        <span>CC:</span><span class="ap">{{riche}}</span>
                        <span class="expapext" title="CC/AP">(<span class="expap">{{richeAp}}</span>)</span>
                        <span class="questBattleId">{{parameter}}</span>
                        <span>难度:</span><span class="ap">{{difficulty}}</span>
                    </div>
                </div>
                <div class="questBattle-but">
                    <span onclick="onclick_selectQuestBattle(this)" data-id="{{questBattleId}}" data-sid="{{sectionId}}">[掉落统计]</span>
                    <span onclick="onclick_hideDropList(this)" data-id="{{questBattleId}}">[掉落列表]</span>
                    <span onclick="onclick_hideQuestBattle(this)" data-id="{{questBattleId}}">[折叠/显示]</span>
                    <span onclick="onclick_selectBattleData(this)" data-id="{{questBattleId}}" data-sid="{{sectionId}}">[战斗数据]</span>
                </div>
            </div>
            <div class="data">
                <div class="dropItems" onclick="onclick_selectQuestBattle(this)" data-id="{{questBattleId}}" data-sid="{{sectionId}}" >{{dropItems}}</div>
                <div id="dropS_{{questBattleId}}"></div>
            </div>
        </div>
    </div>
    <div id="Templates_questBattle_dropItem" class="templates-div">
        <div class="drop-item">
            <div class="{{isFC}}">
                <div class="rewardCode">{{rewardCode}}</div>
                <span class="dropItemId {{isFC}}">{{dropItemId}}</span>
            </div>
        </div>
    </div>

    <div id="Templates_dropTable" class="templates-div">
        <div>
            <div class="dropTable-headerDiv" onclick="onclick_selectQuestBattle(this)" data-id="{{questBattleId}}" data-sid="{{sectionId}}">
                <span class="drop-table-title">{{title}}</span>
                <span class="drop-table-mini-title-span">[<span class="drop-table-mini-title">{{miniTitle}}</span>]</span>
                <span class="ap-span">
                    <span>AP:</span><span class="ap">{{ap}}</span>
                </span>
            </div>
            <table>
                <thead>
                    <tr class="drop-row-head">
                        <td class="dr-head-qBattle">关卡</td>
                        <td class="dr-head-ap">AP</td>
                        <td class="dr-head-code">物品</td>
                        <td class="dr-head-dropR">掉落率</td>
                        <td class="dr-head-ave">平均掉落</td>
                        <td class="dr-head-aveap">道具/AP</td>
                        <td class="dr-head-ee">模拟<br>场数</td>
                        <td class="dr-head-ee">模拟<br>总AP</td>
                        <td class="dr-head-ee">模拟<br>平均掉落</td>
                        <td class="dr-head-ee">模拟<br>道具/AP</td>
                        <td class="dr-head-len">场数</td>
                        <td>最近掉落<span class="fCCodeIgnoreNum">{{fCCodeIgnoreNum}} {{filterDateNum}}</span></td>
                    </tr>
                </thead>
                <tbody id="Templates_dropTableTr">
                    <tr class="drop-row {{isEvent}} {{isEventAdd}} {{isRiche}}">
                        <td class="dr-qBattle">{{qBattle}}<span class="hideQuestBattle" onclick="document.querySelector('#qb{{questBattleId}}').hidden=1">x</span></td>
                        <td class="dr-ap">{{ap}}</td>
                        <td class="dr-code"><span>{{code}}</span>{{codeImg}}</td>
                        <td class="dr-dropR {{dropR-zero}} {{dropR-one}}">{{dropR}}</td>
                        <td class="dr-ave {{ave-good}}" title="{{t-ave}}">{{ave}}</td>
                        <td class="dr-aveap" title="{{t-aveAp}}">{{aveAp}}</td>
                        <td class="dr-ee dr-ee-len">{{ee-len}}</td>
                        <td class="dr-ee dr-ee-ap">{{ee-ap}}</td>
                        <td class="dr-ee">{{ee-ave}}</td>
                        <td class="dr-ee dr-ee-aveap {{ee-aveap-isMax}}">{{ee-aveap}}</td>
                        <td class="dr-len">{{countLen}}</td>
                        <td>
                            <div class="drop-num-con-box" onclick="onclick_selectQuestBattle(this)" data-id="{{questBattleId}}" data-sid="{{sectionId}}">
                                <div class="drop-num-con">{{dropData}}</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody class="id_content"></tbody>            
            </table>
        </div>
    </div>
    <div id="Templates_dropTable_Data" class="templates-div">
        <span class="drop-num-unit {{is-max}} {{is-zero}} {{is-user}} {{fcrc}}" title="{{time}} {{user}} {{tips}}">{{num}}</span>
    </div>
    <div id="Templates_dropTable_DataFC" class="templates-div">
        <span class="drop-num-unit doFCRF {{doFCRF}}" title="初回掉落处理：{{tips}}" [[onclick]]="onclick_selectDropDataFC({{questBattleId}}, '{{code}}')" >{{txt}}</span>
    </div>


    <div>
        <span id="UpdateTime"></span>
        <label><input id="hideButton" type="checkbox" checked="checked" onchange="onchange_hideAllButton(this.checked)">隐藏按钮</label>
        <button onclick="onclick_showAll()">显示全部（会卡一下）</button>
        <div class="item-list-con">
            <button onclick="onclick_showAllQuestBattle()">加载全部掉落（会卡一下）</button>
            ->
            用户名<input type="text" name="" id="userName" placeholder="用户名（只能是英文或数字）">
            ->
            <button onclick="onclick_sendData(false,this)">保存掉落数据</button>
            或
            发到：<input type="text" name="" id="pushServer" placeholder="服务器域名或IP">
            <button onclick="onclick_sendData(true,this)">发送掉落数据</button>
            <button onclick="onclick_sendDataUBL(this)">发送关卡数据</button>
            <div>
                加载其他用户数据：
                <button onclick="onclick_saveUserConfig()">保存配置</button>
                <input type="text" name="" id="userNameConfig" placeholder="用户名，逗号分隔，!开头表示停用该用户" size="100">
            </div>
        </div>
    </div>
    <div class="item-list-con">
        <label><input type="checkbox" checked id="checkbox_codeImgNone" onchange="onchange_codeImgNone(this.checked)">无图模式（刷新生效）</label>
        <input type="text" id="textBox_codeImgSrc" placeholder="">
        <button onclick="onchange_codeImgSrc()">更改图片Src（刷新生效）</button>

        <div id="ItemList" onclick="onclick_selectItemList()"></div>
        <button onclick="onclick_selectItemListremove()">清除</button>
        <label><input type="checkbox" id="checkbox_codeImgMini" onchange="onchange_codeImgMini(this.checked)">小图片模式</label>
    </div>
    <!-- <div class="item-list-con"> -->
    <!-- </div> -->
    <div class="item-list-con">
        小时+-控制<input type="text" id="textBox_timeAdd" placeholder="-1" size="3">
        ,
        开始时间<input type="text" id="textBox_timeStart" placeholder="2018-2-5 17:00" size="20">
        -
        结束时间<input type="text" id="textBox_timeClose" placeholder="2018-2-15 14:59" size="20">
        <button onclick="onclick_timeSelect()">过滤</button>
        <button onclick="onclick_timeRemove()">清除</button>

        活动时间设置：
        <button onclick="onclick_eventTime('1014', this.checked)">1014</button>
        <button onclick="onclick_eventTime('1021', this.checked)">1021</button>

        <div class="filterTimedateTip" id="text_timeStartClose"></div>

        <div>
            模拟使用AP <input type="number" id="textBox_simulatorAP">
            模拟活动掉落加成 <input type="number" id="textBox_simulatorDropAdd">
            <button onclick="onclick_eventSimulator()">应用</button>
        </div>
    </div>
    <div class="item-list-con">
        <div>
            <label><input type="checkbox" id="typeHideQuestBattleHeader" onchange="onchange_type('HideQuestBattleHeader', this.checked)">隐藏关卡header</label>
            <label><input type="checkbox" checked id="typeDropList" onchange="onchange_type('DropList', this.checked)">显示掉落列表</label>
            <label><input type="checkbox" onchange="onchange_hideAllDrop(this.checked)">隐藏掉落列表和统计</label>
        </div>
        <label><input type="checkbox" id="typeEventDropShowOnly" onchange="onchange_type('EventDropShowOnly', this.checked)">只显示活动相关物品</label>
        <label><input type="checkbox" id="typeEventDropHide" onchange="onchange_type('EventDropHide', this.checked)">不显示[活动时附加]掉落物品</label>
        <label><input type="checkbox" id="typeEventDropAddShowOnly" onchange="onchange_type('EventDropAddShowOnly', this.checked)">只显示[活动时附加]掉落物品</label>
        <label><input type="checkbox" id="typeEventDropShowOnlyTableSD" onchange="onchange_type('EventDropShowOnlyTableSD', this.checked)">隐藏[活动时附加掉落]加成行</label>
        
        <label><input type="checkbox" id="typeHideDropRiche" onchange="onchange_type('HideDropRiche', this.checked)">隐藏CC行</label>

        <label><input type="checkbox" id="typeHideHardBattle" onchange="onchange_type('HideHardBattle', this.checked)">隐藏HARD关卡</label>
        <div>
            <label><input type="checkbox" id="typeEventDropShowOnlyTable" onchange="onchange_type('EventDropShowOnlyTable', this.checked)">活动道具掉落统计表模式</label>
            <button onclick="onclick_showAllQuestBattle()">加载全部掉落（会卡一下）</button>
            <label><input type="checkbox" id="typeEventDropShowOnlyTableSHH" onchange="onchange_type('EventDropShowOnlyTableSHH', this.checked)">header</label>
            <label><input type="checkbox" id="typeEventDropShowOnlyTableSH" onchange="onchange_type('EventDropShowOnlyTableSH', this.checked)">关卡header</label>
            <label><input type="checkbox" id="typeEventDropShowOnlyTableSN" onchange="onchange_type('EventDropShowOnlyTableSN', this.checked)">显示无数据关卡</label>
            <label><input type="checkbox" id="typeEventDropShowOnlyTableHideSimulator" onchange="onchange_type('EventDropShowOnlyTableHideSimulator', this.checked)">隐藏模拟列</label>
            
            <label>活动筛选
                <input type="number" id="id_filterEventId_inputNumber" placeholder="数字（活动ID）">
                <button onclick="onclick_filterEventId()">应用</button>
                <button onclick="onclick_filterEventIdRemove()">清除</button>
            </label>
    </div>
    </div>
    <div>
        <label><input type="checkbox" checked id="typeMAIN" onchange="onchange_type('MAIN', this.checked)">主线</label>
        <label><input type="checkbox" checked id="typeSUB" onchange="onchange_type('SUB', this.checked)">支线</label>
        <label><input type="checkbox" checked id="typeCHARA" onchange="onchange_type('CHARA', this.checked)">角色</label>
        <label><input type="checkbox" checked id="typeCOMPOSE" onchange="onchange_type('COMPOSE', this.checked)">强化</label>
        <label><input type="checkbox" checked id="typeMATERIAL" onchange="onchange_type('MATERIAL', this.checked)">觉醒</label>
        <label><input type="checkbox" checked id="typeCOMPOSE_MATERIAL_Today" onchange="onchange_type('COMPOSE_MATERIAL_Today', this.checked)">[强化/觉醒 只显示今天]</label>
        <label><input type="checkbox" checked id="typeCOMPOSE_EXT" onchange="onchange_type('COMPOSE_EXT', this.checked)">强化整合</label>
        <label><input type="checkbox" checked id="typeMATERIAL_EXT" onchange="onchange_type('MATERIAL_EXT', this.checked)">觉醒整合</label>
        <!-- <div> -->
            <label><input type="checkbox" checked id="typeEVENT_S" onchange="onchange_type('EVENT_S', this.checked)">EVENT_S</label>
            <label><input type="checkbox" checked id="typeDAILYTOWER" onchange="onchange_type('DAILYTOWER', this.checked)">DAILYTOWER</label>
            <label><input type="checkbox" checked id="typeSINGLERAID" onchange="onchange_type('SINGLERAID', this.checked)">SINGLERAID</label>
            <label><input type="checkbox" checked id="typeBRANCH" onchange="onchange_type('BRANCH', this.checked)">BRANCH</label>
            <label><input type="checkbox" checked id="typeACCOMPLISH" onchange="onchange_type('ACCOMPLISH', this.checked)">ACCOMPLISH</label>
        <!-- </div> -->
    </div>
    <div id="MainContentTableHeader"></div>
    <div id="MainContent" class="haid-but"></div>
    <script type="text/javascript" src="./drop.js"></script>
</body>

</html>