body{
    color: #212121;
    margin-bottom: 300px;
}

.templates-div {
    display: none;
}

.collapsible {
    float: right;
    margin: 2px 25px 2px 0;
}

.codeImgBox {
    display: inline-block;
}

#MainContent.hideMAIN .section.MAIN{ display: none; }
#MainContent.hideSUB  .section.SUB{ display: none; }
#MainContent.hideCHARA  .section.CHARA{ display: none; }
#MainContent.hideCOMPOSE  .section.COMPOSE{ display: none; }
#MainContent.hideMATERIAL  .section.MATERIAL{ display: none; }
#MainContent.hideCOMPOSE_EXT  .section.COMPOSE_EXT{ display: none; }
#MainContent.hideMATERIAL_EXT  .section.MATERIAL_EXT{ display: none; }


#MainContent.hideACCOMPLISH .section.ACCOMPLISH,
#MainContent.hideBRANCH .section.BRANCH,
#MainContent.hideDAILYTOWER .section.DAILYTOWER,
#MainContent.hideSINGLERAID .section.SINGLERAID,
#MainContent.hideEVENT_S .section.EVENT_S{
    display: none; 
}


/* #MainContent .section:not(.notEvent):not(.event1021){
    display: none; 
} */

#MainContent.hideDay.showOnlyToday1 .section.COMPOSE:not(.today1),
#MainContent.hideDay.showOnlyToday1 .section.MATERIAL:not(.today1){ display: none; }

#MainContent.hideDay.showOnlyToday2 .section.COMPOSE:not(.today2),
#MainContent.hideDay.showOnlyToday2 .section.MATERIAL:not(.today2){ display: none; }

#MainContent.hideDay.showOnlyToday3 .section.COMPOSE:not(.today3),
#MainContent.hideDay.showOnlyToday3 .section.MATERIAL:not(.today3){ display: none; }

#MainContent.hideDay.showOnlyToday4 .section.COMPOSE:not(.today4),
#MainContent.hideDay.showOnlyToday4 .section.MATERIAL:not(.today4){ display: none; }

#MainContent.hideDay.showOnlyToday5 .section.COMPOSE:not(.today5),
#MainContent.hideDay.showOnlyToday5 .section.MATERIAL:not(.today5){ display: none; }

#MainContent.hideDay.showOnlyToday6 .section.COMPOSE:not(.today6),
#MainContent.hideDay.showOnlyToday6 .section.MATERIAL:not(.today6){ display: none; }

/** 不显示掉落列表 */
#MainContent.hideDropList .questBattle .dropItems{ display: none; }

/** 活动道具掉落统计表模式  */
#MainContent.EventDropShowOnlyTable .section .sel-section ,
#MainContent.EventDropShowOnlyTable .section .questBattleType ,
#MainContent.EventDropShowOnlyTable .questBattle .questBattle-header ,
#MainContent.EventDropShowOnlyTable .questBattle .dropItems,
#MainContent.EventDropShowOnlyTable .questBattle .drop-items-null,
#MainContent.EventDropShowOnlyTable .questBattle .dropTable-headerDiv,
#MainContent.EventDropShowOnlyTable .questBattle .drop-row-head{
    display: none;
}
#MainContent.EventDropShowOnlyTableSHH .section .sel-section ,
#MainContent.EventDropShowOnlyTableSH .questBattle .questBattle-header {
    display: block;
}
#MainContent.EventDropShowOnlyTable.EventDropShowOnlyTableSH .questBattle-txtData {
    display: none;
}
#MainContent.EventDropShowOnlyTable.EventDropShowOnlyTableSH.haid-data .questBattle-txtData {
    display: inline-block;
}
#MainContent.EventDropShowOnlyTable .section ,
#MainContent.EventDropShowOnlyTable .questBattle {
    margin:0;
    border-bottom:0;
}
#MainContent.EventDropShowOnlyTableSN .questBattle .drop-items-null{
    display: block;
}
#MainContent.HideHardBattle .questBattleLayerType.HARD {
    display: none;
}

    
.section .id_content.hide{
    display: none;
}

.section {
    margin: 20px 0px;
}
.questType{
    font-weight: bold;
}
.questType.MAIN{
    color: #673AB7;
}
.questType.SUB{
    color: #009688;
}
.questType.CHARA{
    color: #EC407A;
}
.questType.COMPOSE,
.questType.MATERIAL{
    /* color: #607D8B; */
    color: #03A9F4;
}
.questType.DAILYTOWER,
.questType.EVENT_S{
    color: #03A9F4;
}
.sectionId {
    color: #9E9E9E;
    font-style: italic;
    font-size: 0.9em;
    margin: 5px;
}
.section-charaName {
    color: #9C27B0;
}
.section-title {
    font-size: 1.2em;
}
.section-miniTitle {
    color: #9E9E9E;
    font-size: 0.5em;
    margin: 5px;
} 
.section-miniTitle.hide {
    display: none;
} 
.section-miniTitle > span {
    color: #9c27b0;
    font-size: 2em;
    font-weight: bold;
    margin: 2px;
}

.sel-section{
    cursor: pointer;
}
.sel-section:hover{
    background-color: #f2f9ff;
}

.questBattleType.NORMAL{
    background-color: #F1F8E9;
    display: none;
}
.questBattleType.HARD{
    background-color: #EDE7F6;
}

.questBattle {
    margin: 0 0 8px 8px;
    border-bottom: 4px dotted #B2DFDB;
}
.questBattle >.data{
    margin: 0 0 0 8px;
}
.questBattle .data.hide{
    display: none;
}
/* 隐藏掉落(数据)模式 */
.haid-data .questBattle .hide-quest-battle,
.haid-data .questBattle > .data{
    display: none;
}
/* 隐藏按钮 */
.haid-but .questBattle .hide-quest-battle,
.haid-but .questBattle > .data div.div_haeder{
    display: none;
}

.questBattleTitleSub {
    color: #9E9E9E;
}
.questBattleTitle {
    font-size: 1.2em;
}
.questBattleId {
    color: #9E9E9E;
    font-style: italic;
    font-size: 0.8em;
    margin: 5px;
    display: inline-block;
}
.ap {
    color: #FF8A65;
    margin: 0 3px;
}
.expapext{
    color: #9E9E9E;
    font-size: 0.5em;
}
.expap{
    color: #512DA8;
    margin: 0 1.5px;
    font-size: 2em;
}
.hide-quest-battle {
    margin-left: 30px;
}


.div_footer{
    margin-top: 3px;
}

/*
 *     dropTable 掉落表
 */
#MainContent.HideQuestBattleHeader .questBattle-header {
    display: none;
}
/* .haid-but .questBattle-header:hover{
    background-color: #f2f9ff;
    cursor: pointer;
} */
.questBattle-txt {
    display: inline-block;
    cursor: default;
}

.questBattle-txtData {
    display: inline-block;
}
.questBattle-but{
    display: inline-block;
}
.haid-but .questBattle-but{
    display: none;
}
.haid-but .questBattle-header:hover .questBattle-but{
    display: inline-block;
}
.questBattle-but > span{
    cursor: pointer;
    font-size: 13px;
    margin: 1px;
    padding: 1px;
}
.questBattle-but > span:hover{
    background-color: #B3E5FC;
}

.dropItems.hide {
    display: none;
}
/* 【隐藏按钮】下 */
.haid-but .dropItems:hover{
    background-color: #f2f9ff;
    cursor: pointer;
}

.drop-items-null {
    background-color: #E6EE9C;
}
#MainContent.EventDropShowOnlyTable .drop-items-null {
    background-color: #EEEEEE;
    color: #9E9E9E;
}
.drop-item {
    /* min-width: 10%; */
    display: inline-block;
}
.drop-item > div {
    display: inline-block;
    background-color: #ECEFF1;
    margin: 3px 10px 3px 0;
    padding: 2px 4px 2px 0px;
    border-radius: 5px;
}
.drop-item > div.isFC {
    background-color: #EFEBE9;
    font-size: 0.9em;
}
.isFC .rewardCode{
    color: #5D4037;
}
.rewardCode {
    color: #673AB7;
    display: inline-block;
    /* position: relative; */
}
.isFC .dropItemId{
    color: #FF5722;
}
.rewardCode img {
    width: 50px;
    vertical-align: middle;
    /* padding-right: 4px; */
}
.rewardCodeImgMini .rewardCode img {
    width: 25px;
}
.rewardCode .dropNum {
    color: #FF5722;
    font-weight: bold;
    font-size: 1.5em;
    vertical-align: bottom;
}
.rewardCodeImgMini .rewardCode .dropNum {
    font-size: 1em;
}
.rewardCode .dropNum::before {
    content: '*';
    font-weight: normal;
    font-size: 0.7em;
    color: #9E9E9E;
    vertical-align: bottom;
    margin-left: 1px;
}
.dropItemId {
    color: #9E9E9E;
    font-size: 0.5em;
}
.rewardCode .or {
    color: #9E9E9E;
    font-size: 0.5em;
}

/*
 *     dropTable 掉落表 - 统计
 */

.dropTable-headerDiv:hover {
    cursor: pointer;
}
.dropTable-headerDiv:hover > .drop-table-title {
    text-decoration: underline;
}
/* .dropTable-headerDiv > .refresh-tips {
    display: none;
    font-size: 12px;
}
.dropTable-headerDiv:hover > .refresh-tips {
    display: inline-block;
} */


.drop-table-mini-title-span {
    color: #9E9E9E;
    font-size: 0.5em;
    margin: 5px;
} 
.drop-table-mini-title-span>span {
    color: #9c27b0;
    font-size: 1.9em;
    font-weight: bold;
    margin: 2px;
}
.drop-table-title{
    color: #1565C0;
    font-size: 1.2em;
}
.ap-span{
    font-size: 0.85em;
    color: #9E9E9E;
    padding-left: 1em;
}
.drop-row-head {
    background-color: #BBDEFB;
    font-size: 0.9em;
}
.drop-row-head > td {
    padding: 0 3px;
}
.fCCodeIgnoreNum {
    color: #ea1d1d;
    background-color: #d2d5ea;
}

#MainContentTableHeader{
    display: none;
}
#MainContentTableHeader.EventDropShowOnlyTable{
    display: block;
}
#MainContentTableHeader{   
    margin: 0 0 0 8px;
}
.questBattle table {
    border-spacing: 1px;
}
#MainContentTableHeader table{   
    width: 100%;
    table-layout:fixed;
    border-spacing: 1px;
}
#MainContent.EventDropShowOnlyTable .questBattle table {
    width: 100%;
    table-layout:fixed;
    border-bottom: 1px solid #ECEFF1;
}
#MainContentTableHeader table .dr-head-qBattle { width: 90px;  table-layout: fixed; display: table-cell;  }
#MainContentTableHeader table .dr-head-ap      { width: 35px;  table-layout: fixed; display: table-cell; text-align: center; }
#MainContentTableHeader table .dr-head-code    { width: 200px; table-layout: fixed; text-align: center; }
table .dr-head-drop0   { width: 60px;  table-layout: fixed; text-align: center; }
table .dr-head-dropR   { width: 60px;  table-layout: fixed; text-align: center; }
table .dr-head-ave     { width: 60px;  table-layout: fixed; text-align: center; }
table .dr-head-aveap   { width: 60px;  table-layout: fixed; text-align: center; }
table .dr-head-len     { width: 60px;  table-layout: fixed; text-align: center; }

table .dr-head-ee { display: none; }
#MainContentTableHeader table .dr-head-ee      { width: 60px;  table-layout: fixed; text-align: center; display: table-cell; background-color: #E1BEE7; }
#MainContentTableHeader.EventDropShowOnlyTableHideSimulator table .dr-head-ee { display: none; }

#MainContent.EventDropShowOnlyTable .questBattle table .dr-code    { width: 200px; table-layout: fixed; /* text-align: right; */ }
#MainContent.EventDropShowOnlyTable .questBattle table .dr-drop0   { width: 60px;  table-layout: fixed; }
#MainContent.EventDropShowOnlyTable .questBattle table .dr-dropR   { width: 60px;  table-layout: fixed; }
#MainContent.EventDropShowOnlyTable .questBattle table .dr-ave     { width: 60px;  table-layout: fixed; }
#MainContent.EventDropShowOnlyTable .questBattle table .dr-aveap   { width: 60px;  table-layout: fixed; }
#MainContent.EventDropShowOnlyTable .questBattle table .dr-len     { width: 60px;  table-layout: fixed; }
#MainContent.EventDropShowOnlyTable .questBattle table .dr-qBattle { 
    width: 90px; table-layout: fixed; display: table-cell; 
    font-size: 12px;
    /* color: #9c27b0; */
}

.dr-qBattle .hideQuestBattle{
    display: none;
    float: right;
    font-weight: bold;
    cursor: pointer;
}
.dr-qBattle:hover .hideQuestBattle{
    display: block;
}

#MainContent.EventDropShowOnlyTable .questBattle table .dr-ap      { 
    width: 35px; table-layout: fixed; display: table-cell; text-align: center; 
    color: #F44336;
    background-color: #FFF3E0;
}
#MainContent.EventDropShowOnlyTable .questBattle table .dr-code > span   { 
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table .dr-ee { display: none; }
#MainContent.EventDropShowOnlyTable .questBattle table .dr-ee { width: 60px;  table-layout: fixed; display: table-cell; text-align: center; }
#MainContent.EventDropShowOnlyTable.EventDropShowOnlyTableHideSimulator table .dr-ee { display: none; }
.dr-ee-len {
    font-size: 0.8em;
}
.dr-ee-len .has-drop {
    color: #FF9800;
    padding-left: 2px;
}

.dr-ee-ap {
    /* background-color: #FFF3E0; */
    font-size: 0.9em;
    color: #E57373;
}
.dr-ee-aveap {
    background-color: #E8EAF6;
    color: #673AB7;
}
.dr-ee-aveap.max{
    background-color: #DCEDC8;
    color: #004D40;
}


#MainContent.EventDropShowOnlyTableSD tr.isEventAddDROP {
    display: none;
}
#MainContentTableHeader table td,
.questBattle table td{
    padding: 0;
}

#MainContent.EventDropHide .drop-row.isEventAdd {
    display: none;
}
#MainContent.EventDropShowOnly .drop-row:not(.isEvent) {
    display: none;
}
#MainContent.EventDropAddShowOnly .drop-row:not(.isEventAdd) {
    display: none;
}
#MainContent.HideDropRiche .drop-row.isRiche {
    display: none;
}

.dr-qBattle,
.dr-ap,
.dr-head-ap,
.dr-head-qBattle{
    display: none;
}
#MainContent.EventDropShowOnlyTable .dr-head-qBattle,
#MainContent.EventDropShowOnlyTable .dr-qBattle{
    display: initial;
}


.drop-row.isEventAdd .dr-code i {
    color: #9E9E9E;
}
.dr-code {
    font-size: 13px;
    line-height: 20px;
}
.dr-code span{
    font-size: 12px;
    /* text-align: right; */
    /* margin-top: 13px; */
    /* padding-top: 40px; */
    display: inline-block;
    height: 25px;
    line-height: 25px;
    vertical-align: top;
}
.dr-code img {
    width: 25px;
    padding-left: 4px;
    float: right;
    /* position: relative; */
    /* top: 0px; */
    margin-bottom: -5px;
}
.dr-dropR ,
.dr-drop0 {
    text-align: center;  
    font-size: 0.8em;
}
.dr-dropR.one ,
.dr-drop0.zero{
    background-color: #DCEDC8;
    color: #33691E;
}
.dr-dropR.zero ,
.dr-drop0.one{
    background-color: #EEEEEE;
    color: #9E9E9E;
}
.dr-ave {
    text-align: center;  
}
.dr-ave.good{
    background-color: #DCEDC8;
    color: #33691E;
}
.dr-aveap {
    text-align: center;  
    background-color: #E8EAF6;
}
.dr-len {
    text-align: center;  
}
.dr-aveap span.eventExt {
    color: #283593;
    background-color: #C5CAE9;
    padding: 0 5px;
}
.dr-ave span.eventExt,
.dr-len span.eventExt {
    color: #283593;
    background-color: #E8EAF6;
    padding: 0 5px;
}
.drop-num-con-box {
    max-height: 45px;
    overflow: hidden;
}
.drop-num-con {
    border: 1px solid #CFD8DC;
    border-width: 1px 0 0 1px;
    line-height: 15px;
    display: inline-block;
}
.drop-num-unit {
    display: inline-block;
    text-align: center;  
    width: 20px;
    line-height: 18px;
    font-size: 13px;
    border: 1px solid #CFD8DC;
    border-width: 0 1px 1px 0;
}
.drop-num-unit.user{
    font-size: 12px;
    font-style: italic;
    background-color: #F0F0F0;
}
.drop-num-unit.max {
    background-color: #C5E1A5;
    color: #1B5E20;
    border: 1px solid #9CCC65;
    border-width: 0 1px 1px 0;
}
.drop-num-unit.max.user{
    background-color: #e7f7d5;
}
.drop-num-unit.zero {
    color: #9E9E9E;
}

.drop-num-unit.fcrc {
    border: 1px solid #FF5722;
    border-width: 0 1px 1px 0;
    color: #FF5722;
    /* font-style: italic; */
}
.drop-num-unit.doFCRF {
    text-decoration: line-through;
    /* border: 1px solid #FF9800; */
    /* border-width: 0 1px 1px 0; */
    color: #ffffff;
    /* background-color: #FF9800; */
    background-color: #CFD8DC;
    font-size: 12px;
    cursor: pointer;
    width: 41px;
    /* width: 35px; */
    /* margin-right: 5px; */
}
.drop-num-unit.doFCRF.do {
    background-color: #FFF9C4;
    border: 1px solid #FF5722;
    border-width: 0 1px 1px 0;
    font-weight: bold;
    text-decoration: none;
    color: #FF9800;
}
    

.item-list-con {
    margin: 10px;
}
#ItemList img {
    width: 50px;
    margin: 1px;
}
.rewardCodeImgMini #ItemList img {
    width: 25px;
}
#ItemList img:hover {
    cursor: pointer;
}


/*  过滤  */
.filterMode .section.filterMode ,
.filterMode .questBattle.filterMode{
    display: none;
}
/* .filterMode .section.filterMode,
.filterMode .section .questBattle.filterMode{
    display: block; */
/* } */

.filterTimedateTip {
    font-size: 1.1em;
    padding: 2px;
    background-color: #FFF8E1;
    margin: 1px;
}