
.sendServerCon {
  padding: 0px 5px 15px;
}

#pieceList{
  margin-top: 10px;
}

.pickUpDetail {
  padding: 0px 50px 30px 0px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  width: 560px;
}

.pickUpDetail .memoriaImgBox {
  /* margin: 0px 10px; */
  text-align: center;
  vertical-align: top;
  /* width: 200px; */
  float: left;
  margin: 2px 5px 0 0;
  min-height: 200px;
}
/* .pickUpDetail .memoriaImgBox:hover {
  cursor: pointer;
} */



/** 小图片 */
.miniImg .pickUpDetail .memoriaImgBox img{
  width: 132px;
}
.pickUpDetail .memoriaImgBox img {
  width: 156px;
}

.pickUpDetail .memoriaImgBox .memoriaIllustrator {
  margin: 0 0 10px;
  font-size: 12px;
  width: 156px;
}

.hide-info .pickUpDetail .memoriaImgBox .memoriaIllustrator {
  display: none;
}


.pickUpDetail .detailWrap {
  /* width: 405px; */
  margin-left: 162px;
}

.pickUpDetail .memoriaName {
  font-size: 25px;
}

.pickUpDetail .memoriaName .pieceId {
  font-size: 14px;
  color: #9E9E9E;
  font-style: italic;
  margin-left: 10px;
}

.pickUpDetail .memoriaDescription {
  background: #EEEEEE;
  font-size: 12px;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.hide-info .pickUpDetail .memoriaDescription {
  display: none;
}

.pickUpDetail .memoriaStatus>div {
  /* height: 25px; */
  margin-bottom: 4px;
  /* font-size: 16px; */
}

.pickUpDetail .memoriaStatus .attributeName {
  padding: 0 5px;
  background: #b28750;
  color: #fff;
  text-align: center;
  /* border: 1px solid #b28750; */
  border-radius: 5px 0 0 5px;
  width: 6em;
  /* font-size: 0.9em; */
  line-height: 1.5;
  display: inline-block;
  /* margin-right: 10px; */
}

.pickUpDetail .memoriaStatus .attribute {
  min-width: 5em;
  line-height: 1.5;
  display: inline-block;
  /* margin-right: 10px; */
}


.pickUpDetail .memoriaStatus .charaList.charaListNull {
  display: none;
}

.pickUpDetail .memoriaStatus .charaList .attributeName {
  background: #AB47BC;
  /* border: 1px solid #AB47BC; */
}

.pickUpDetail .memoriaStatus .charaList .attribute {
  color: #9C27B0;
  font-size: 19px;
}
.pickUpDetail .memoriaStatus .charaList .attribute.mini {
  font-size: 12px;
}


.pickUpDetail .memoriaStatus .charaList .attribute>span {
  font-size: small;
}


/* 技能类型 */
.pickUpDetail .description > div {
  height: 40px;
  line-height: 40px;
  display: inline-block;
  vertical-align: top;
}
.pickUpDetail .memoriaTypeIcon img{
  height: 40px;
}
.pickUpDetail .description .ability {
  color: #3a9abd;
}
.pickUpDetail .description .skill {
  color: #ef638b;
}

.pickUpDetail .description .stars {
  /* background: url("../../magica/resource/image_web/page/announce/announce_memoria_rarity.png") repeat no-repeat 0px 10px / 20px 20px;; */
  /* background: url("./resource/image_web/page/announce/announce_memoria_rarity.png") repeat no-repeat; */
  /* background-size: 20px; */
  /* background-position: 0 10px; */
  height: 40px;
  line-height: 40px;
  margin-left: 50%;
  display: inline-block;
  vertical-align: top;
}


.pickUpDetail .description .stars.RANK_1 {
  width: 25px;
}

.pickUpDetail .description .stars.RANK_2 {
  width: 50px;
}

.pickUpDetail .description .stars.RANK_3 {
  width: 75px;
}

.pickUpDetail .description .stars.RANK_4 {
  width: 100px;
}


.pieceSkill {
  clear: both;
}

.pieceSkill .shortDescription {
  /* font-size: 14px; */
  padding: 4px;
  border-radius: 5px;
  /* margin: 0 5px; */
  display: flex;
  align-items: center;
}

.shortDescription-jp {
  font-size: 0.8px;
  color: #757575;
}
body:not(.local) .shortDescription-jp {
  display: none;
}

.pieceSkill .shortDescription>div {
  width: 100%;
}

.pieceSkill img.skillIcon {
  width: 40px;
  vertical-align: middle;
  /* margin-right: 7px; */
  margin: 3px 5px 0;
  align-self: flex-start;
}

.pieceSkill .shortDescription .eventDescription {
  color: red;
}

.pieceSkill .shortDescription .intervalTurn {
  /* text-align: right; */
  float: right;
}

.pieceSkill .ability .name {
  color: #3a9abd;
  font-size: 20px;
}

.pieceSkill .ability .shortDescription {
  background: #dbf5ff;
}

.pieceSkill .skill .name {
  color: #ef638b;
  font-size: 20px;
}

.pieceSkill .skill .shortDescription {
  background: #fff0f4;
}

.pieceSkill .name span.pieceSkillId {
  font-size: 12px;
  color: #9E9E9E;
  font-style: italic;
  margin-left: 10px;
}

.pieceSkill .pieceSkillArt .art {
  background: #EEEEEE;
  font-size: 12px;
  padding: 4px 4px 4px 0px;
  border-radius: 5px;
  margin: 0 5px;
}

.hide-info .pieceSkill .pieceSkillArt .art {
  display: none;
}

.pieceSkill .pieceSkillArt .art .attrName {
  background: #CFD8DC;
  text-align: center;
  width: 5em;
  line-height: 1.4;
  display: inline-block;
  margin-right: 3px;
  border: 2px solid #EEEEEE;
}

.pieceSkill .pieceSkillArt .art .attr {
  min-width: 5em;
  display: inline-block;
  margin-right: 3px;
}








.pieceSkillArt table {
  font-size: 0.7em;
  width: 100%;
  border-spacing: 0px 0;
}
.pieceSkillArt table th {
  /* font-size: 0.9em; */
  font-weight: normal;
  /* background-color: #ffe7c8; */
  background-color: #F5F5F5;
  text-align: inherit;
}
.pieceSkillArt table td {
  border: 1px solid #EEEEEE;
  border-width: 1px 0px 0px 0px;
}    
.pieceSkillArt table.event th{
  /* background-color: #FDF6E3; */
  color: #616161;
  
}  
.pieceSkillArt table.event td{
  border:0px;
  /* background-color: #FDF6E3; */
  color: #616161;
}  
.pieceSkillArt table .artId {
  font-size: 0.5em;
  color: #9E9E9E;
}    
.pieceSkillArt table .probability ,
.pieceSkillArt table .enableTurn ,
.pieceSkillArt table .effectValue {
  text-align: center;
}



.hide-info .pieceSkillArt table.event {
  display: none;
}


.pieceSkillArt table .parameter,
.pieceSkillArt table .limitedValue{
  background-color: #FFECB3;
}