<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>记忆</title>
  <script type="text/javascript" src="lib.js"></script>
  <script type="text/javascript" src="utilMemoria.js"></script>
  <script type="text/javascript" src="skillArtInfo.js"></script>
  <link rel="stylesheet" type="text/css" href="piece.css">
</head>

<body class="">
  <div class="toWiki" style="display:none">
    <button onclick="on_toWiki_list()">记忆列表(1)</button>
    <button onclick="on_toWiki_details()">记忆数据(2)</button>
    <textarea id="wiki_txt"  style="height: 15px; overflow: hidden;"></textarea>    
  </div>
  <div class="sendServerCon" style="display:none">
    <input type="text" id="text_sendServer" placeholder="服务器">
    <button onclick="on_pieceDataSend(this)">Send</button>
  </div>
  <div class="baseSrcCon">
    <label>baseSrc
      <input type="text" id="text_baseSrc" placeholder="base src">
    </label>
    <label>
      <input type="checkbox" id="checkbox_imgMini" checked>加载小图</label>
    <button onclick="on_baseSrc()">设置</button>
    刷新页面后生效
  </div>
  <div>
    <label>
      <input type="radio" name="piece_rank" onclick="select_show_piece_rank(this.value)" value="4">4星 </label>
    <label>
      <input type="radio" name="piece_rank" onclick="select_show_piece_rank(this.value)" value="3">3星 </label>
    <label>
      <input type="radio" name="piece_rank" onclick="select_show_piece_rank(this.value)" value="2">2星 </label>
    <label>
      <input type="radio" name="piece_rank" onclick="select_show_piece_rank(this.value)" value="1">1星 </label>
    <label>
      <input type="radio" name="piece_rank" onclick="select_show_piece_rank(this.value)" value="0">全部 </label>
  </div>
  <div>
    <label>
      <input type="radio" name="piece_pieceType" onclick="select_show_piece_pieceType(this.value)" value="skill">技能型 </label>
    <label>
      <input type="radio" name="piece_pieceType" onclick="select_show_piece_pieceType(this.value)" value="ability">能力型 </label>
    <label>
      <input type="radio" name="piece_pieceType" onclick="select_show_piece_pieceType(this.value)" value="">全部 </label>
  </div>
  <div>
    <label>
      <input type="checkbox" onchange="pieceList_ShowHide_info(this.checked)"> 隐藏详细信息
    </label>
  </div>

  <div id="templates_pickUpDetail" style="display: none;">
    <div class="pickUpDetail" data-rank="{{rankInt}}" data-pieceType="{{pieceType}}">
      <div>
        <div class="memoriaImgBox">
          <img class="memoriaImage" data-id="{{pieceId}}">
          <p class="memoriaIllustrator">
            <span>{{illustrator}}</span>
          </p>
        </div>
        <div class="detailWrap">
          <div class="memoriaName">
            <span>{{memoriaName}}</span>
            <span class="pieceId">{{pieceId}}</span>
          </div>
          <div class="memoriaDescription">{{description}}</div>
          <div class="memoriaStatus">
            <div>
              <span class="attributeName">初始 HP</span>
              <span class="attribute">{{HP}}</span>
              <span class="attributeName">MAX HP</span>
              <span class="attribute">{{MAX_HP}}</span>
            </div>
            <div>
              <span class="attributeName">初始 ATK</span>
              <span class="attribute">{{ATK}}</span>
              <span class="attributeName">MAX ATK</span>
              <span class="attribute">{{MAX_ATK}}</span>
            </div>
            <div>
              <span class="attributeName">初始 DEF</span>
              <span class="attribute">{{DEF}}</span>
              <span class="attributeName">MAX DEF</span>
              <span class="attribute">{{MAX_DEF}}</span>
            </div>
            <div>
              <span class="attributeName">合计</span>
              <span class="attribute">{{Total}}</span>
              <span class="attributeName">MAX 合计</span>
              <span class="attribute">{{MAX_Total}}</span>
            </div>
            <div class="charaList {{charaListNull}}">
              <span class="attributeName">专用角色</span>
              <span class="attribute">{{charaList}} </span>
              <span class="attribute mini">{{charaList_jp}}</span>
            </div>
          </div>

          <div class="description">
            <div class="memoriaTypeIcon">
              <img data-src="{{baseSrc}}image_web/page/memoria/memoria_pop_{{pieceType}}.png" alt="">
            </div>
            <div class="{{pieceType}}">{{pieceTypeText}} </div>
            <div class="stars {{rank}}" style="background: url('{{baseSrc}}image_web/page/announce/announce_memoria_rarity.png') repeat no-repeat 0px 8px / 25px 25px;">
            </div>
          </div>
        </div>
      </div>
      <div class="pieceSkill">{{pieceSkill}}</div>
    </div>
  </div>

  <div id="templates_pieceSkill" style="display: none;">
    <div class="{{pieceType}}">
      <div class="name">
        <span>{{name}}</span>
        <span class="pieceSkillId">{{id}}</span>
      </div>
      <div class="shortDescription">
        <img class="skillIcon" data-src="{{baseSrc}}resource/image_native/art/icon_skill_{{groupId}}.png">
        <div>
          <span class="shortDescription-jp">{{shortDescription}}</span>
          <span class="eventDescription shortDescription-jp">{{eventDescription}}</span>
          <br class="shortDescription-jp">
          <span class="shortDescription-zh">{{shortDescription_tran}}</span>
          <div class="intervalTurn">
            <span class="">{{intervalTurn}}</span>
          </div>
        </div>
      </div>
      <div class="pieceSkillArt">{{pieceSkill_artHtml}} {{pieceSkill_artHtml_event}}</div>
    </div>
  </div>

  <div id="pieceList"></div>



  <script type="text/javascript" src="piece.js"></script>
</body>